<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Search</title>
</head>
<body>
<div style="text-align:center">
{#<img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png">#}

<form enctype="multipart/form-data" id="search_form" method="post" action="/search/">
{% csrf_token %}

    {{ search_form }}

    <input hidden name="search_engine_choice" value="{{ search_engine_choice }}">
    <input type="submit" value="Search" id="search_button"  />

</form>
</div>

</body>
</html>