<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Experiment</title>
</head>
<style>
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
form{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: left;
}
</style>
<body>
<h1 align="center" style="color:{% if search_engine_choice == '1' %}#8fbc8f;{% else %}#dc143c;{% endif %}">
    Search Engine {{ search_engine_choice }}
</h1>

<div style="display: block; text-align: center;">
{#<img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png">#}

<form enctype="multipart/form-data" id="search_form" method="post" action="/search/">
{% csrf_token %}

    {{ search_form }}

    <input hidden name="search_engine_choice" value="{{ search_engine_choice }}">
    <input type="submit" value="Search" id="search_button" style="margin: 0 auto;"  />

</form>
</div>

</body>
</html>