<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose your search engine!</title>
</head>
<style>
a {color:#FFFFFF;}      /* unvisited link */
a:visited {color:#FFFFFF;}  /* visited link */
a:hover {color:#FFFFFF;}  /* mouse over link */
a:active {color:#FFFFFF;}  /* selected link */
</style>
<body>
<h1 align="center">
    Choose Your Search Engine
</h1>
<div style="text-align:center">
{{ message }}
</div>
<table width="70%" height="130" align="center">
    <tr style="height:130px">
        <td align="center" bgcolor="#8fbc8f"><a href="/search/1" style="display:block; font-size:xx-large;">Search Engine 1</a></td>
        <td align="center" bgcolor="#dc143c"><a href="/search/2" style="display:block; font-size:xx-large;">Search Engine 2</a></td>
    </tr>
</table>
</body>
</html>